{% extends "todo_app/base.html" %}

{% block title %}
subtask
{% endblock title %}


{{subtasks_list}}

{% block content %}
<table class="table">
<h1>{{todo_title}} </h1>  
  <thead>
    <tr>
      <th scope="col">Tasks</th>
      <th scope="col">is Finished</th>
      <th scope="col">Date and Time</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>

    </tr>
  </thead>
  
  <tbody>
      
      
    
        
      {% for subtask in subtask_list %}
        
        {% if subtask.finished %}
          <tr>
          <td><del><p style="text-decoration: line-through;">{{subtask.title}}</p> </del></td>
          <td><a class="btn btn-danger" href= "{% url  'yes_finishTask' Subtask_id=subtask.id %}" role="button" > Yes</a></td>
          <td>{{todo.date}}</td>
          <td><a class="btn btn-danger" href= "{% url  'deleteTask' Subtask_id=subtask.id %}" role="button" > Delete</a></td>
          <td><a class="btn btn-warning" href= "{% url  'updateTask' Subtask_id=subtask.id %}" role="button" > Update</a></td>
          
          </tr>
        {% else %}
          <tr>
          <td>{{subtask.title}}</td>
          <td><a class="btn btn-danger" href= "{% url  'no_finishTask' Subtask_id=subtask.id %}" role="button" > No</a></td>
          <td>{{todo.date}}</td>
          <td><a class="btn btn-danger" href= "{% url  'deleteTask' Subtask_id=subtask.id %}" role="button" > Delete</a></td>
          <td><a class="btn btn-warning" href= "{% url  'updateTask' Subtask_id=subtask.id %}" role="button" > Update</a></td>
          
          </tr>
        {% endif %}
      {% endfor %}

      
      <td><a class="btn btn-success" href="{% url  'createTask' Todos_id %}"> Create Task </a></td>
      
      
    
  </tbody>
</table>
  <div class="text-center">
     


 </div>
 

{% endblock content %}

