{% extends "todo_app/base.html" %}

{% block title %}
HOME PAGE
{% endblock title %}


{{todo_list}}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">To Do List</th>
      <th scope="col">is Finished</th>
      <th scope="col">Date and Time</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>

    </tr>
  </thead>
  <tbody>
    
      
      {% for todo in todo_list %}
        {% if todo.finished %}
          <tr>
          <td><del>{{todo.title}}</del></td>
          <td><a class="btn btn-danger" href= "{% url 'yes_finish' todo.id %}" role="button" > Yes</a></td>
          <td>{{todo.date}}</td>
          <td><a class="btn btn-danger" href= "{% url 'delete' todo.id %}" role="button" > Delete</a></td>
          <td><a class="btn btn-warning" href= "{% url 'update' todo.id %}" role="button" > Update</a></td>
          </tr>
        {% else %}
          <tr>
          <td>{{todo.title}}</td>
          <td><a class="btn btn-danger" href= "{% url 'no_finish' todo.id %}" role="button" > No</a></td>
          <td>{{todo.date}}</td>
          <td><a class="btn btn-danger" href= "{% url 'delete' todo.id %}" role="button" > Delete</a></td>
          <td><a class="btn btn-warning" href= "{% url 'update' todo.id %}" role="button" > Update</a></td>
          </tr>
        {% endif %}
      {% endfor %}
      
    
  </tbody>
</table>
  <div class="text-center">
      <a class="btn btn-success" href="{% url 'uncompleted_todos' %}"> Uncompleted Todos </a>
      <a class="btn btn-success" href="{% url 'create' %}"> Create To Do </a>
      <a class="btn btn-success" href="{% url 'completed_todos' %}"> Completed Todos </a>


 </div>

{% endblock content %}


